table, tr, td {
	border: 0;
}
body {
	background-color: #000;
	color: #fff;
	font-family: monospace;
	font-size: 15px;
}
a {
	color: #380;
}
textarea {
	display: block;
	width: 100%;
	background-color: #222;
	color: #fff;
}
input[type="checkbox"] {
}
label {
	display: inline-block;
	padding-right: 10px;
	margin-right: 10px;
	
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #BBB;
}
.highlight {
	background-color: #380;
}
.tc {
	background-color: #050;
}
#refresh {
	margin-bottom: 10px;
	width: 100%;
}
#container_top {
	white-space: nowrap;
	overflow-x: hidden;
}
#users_container {
	float: left;
}
#users {
	margin-bottom: 10px;
}
#screenshots {
	max-height: 140px;
	margin-bottom: 10px;
}
#screenshots img {
}
.imgcontainer {
}
.imgcontainer img {
	height: 140px;
}
.delbutton {
	width: 20px;
	height: 20px;
	margin-left: -20px;
	padding: 0;
}
#show_screenshots {
	width: 100%;
}
#cmd {
	min-height: 200px;
	width: 50%;
	float: left;
}
#ls {
	min-height: 200px;
	width: 49%;
	float: right;
	font-size: 11px;
}
.ls_f {
}
.ls_dir {
	color: #0F0;
	cursor: pointer;
}
#run_selected, #run_all {
	width: 200px;
}
#left {
	width: 50%;
	display: inline-block;
}
#center {
	width: 24%;
	display: inline-block;
}
#right {
	width: 24%;
	display: inline-block;
}
#data, #cmds, #userlog {
	min-height: 250px;
	width: 100%;
}
#log {
	min-height: 150px;
}
.clear {
	clear: both;
}